.choose-us {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
    url("../img/choosebg1.jpg");
  background-position: center;
}
.choose-grid {
  display: grid;
  grid-template-columns: repeat(6, 20vw);
  align-items: center;
  padding: 15px;
  grid-auto-rows: 15vw;
}
.img1 {
  grid-area: 1/1/5/5;
}
.img2 {
  grid-area: 2/3/6/5;
  margin-left: -15px;
}
.service-home > div img {
  margin-top: 10px;
}
.service-home > div:nth-child(2) img {
  margin-top: 18px;
}
.service-home > div:nth-child(5) img {
  margin-top: 20px;
}
.service-home > div:nth-child(6) img {
  margin-top: 20px;
}
ul li {
  margin: 15px 0;
}
